<div class="bootstrap-wrapper big-banner text-light full-height">
  <div class="container margin-t text-center" >
    <div class="row">
      <div class="col-md-6 offset-md-3" style="margin-top:50px ;">
        <div class="container text-center"> 

          <img class="img-fluid" style="width:100px" src="/assets/LoginLogo.png" alt="inmg">
        </div>
        <h1 class="text-center"> Login here</h1>

        <form (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>User name</mat-label>
            <input [(ngModel)]="user.userName" name="userName"
            required type="text" matInput />
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input  [(ngModel)]="user.password" name="password"
            required type="password" matInput />
          </mat-form-field>
          <div class="container text-center">
            
          <button type="submit" mat-raised-btn color="primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<footer style="color:black" class="footer bg-secondary fixed-bottom">
    
  <p style="text-align:center;">@Copyright 2022-23. All rights reserved. </p>

  </footer>